@model IEnumerable<lab2.Models.module>

@{
    ViewBag.Title = "Index";
}

<h2 class="pt-2">Moduliai</h2>

<p class="border rounded bg-light px-1" style="width:153px">
    @Html.ActionLink("Pridėti naują modulį", "Create", null, new { Style = "color:green;text-decoration:none" })
</p>
<table class="table">
    <tr>
        <th>
            Modulio kodas
        </th>
        <th>
            Modulio pavadinimas
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleTitle)
            </td>
            <td>
                @Html.ActionLink("Koreguoti", "Edit", new { id = item.ModuleID }) |
                @Html.ActionLink("Informacija", "Details", new { id = item.ModuleID }) |
                @Html.ActionLink("Ištrinti", "Delete", new { id = item.ModuleID })
            </td>
        </tr>
    }

</table>
<hr />
@Html.ActionLink("Pradžia", "Index", "Home")
